.button-navigator {
    -fx-background-color: transparent;
}

.button-navigator:hover > .image-view {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.button-navigator:hover {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.button-navigator {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button-navigator:pressed {
    -fx-opacity: 0.75;
}

.active {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.root {
    -fx-background-color: linear-gradient(to top right, #752e65, #44008b);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}