.button:hover {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.card {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: green;
    -fx-border-width: 2;
    -fx-alignment: center;
    -fx-row-valignment: center;
    -fx-column-halignment: center;
}

