.search-field {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-insets: 0, 0 0 3 0;
}

.word {
    -fx-background-color: #EAE0FF;
    -fx-text-fill: #562BF7;
    -fx-border-radius: 10;
    -fx-padding: 10;

    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-font: 14px "Verdana";
}

.word:hover {
    -fx-background-color: #562BF7;
    -fx-text-fill: #EAE0FF;
}
