@font-face {
    font-family: 'Hobo Bold';
    src: url('../../font/HoboBold.ttf');
}

.letter {
    -fx-font-family: 'Hobo Bold';
    -fx-font-size: 85;
    -fx-text-fill: #000;
}

.letter_white {
    -fx-font-family: 'Hobo Bold';
    -fx-font-size: 85;
    -fx-fill: white;
}

.border-button:hover {
    -fx-border-radius: 10;
    -fx-border-color: #35A3FA;
    -fx-border-width: 5;
    -fx-border-style: dashed;
}

.custom-transparent-button {
    -fx-padding: -2px 12px -2px 12px;
    -fx-background-color: transparent;
}

.root {
    -fx-background-image: url('../../image/game/final.jpg');
    -fx-background-size: 1000px 600px;
}


